
body
{
  font-family: arial;
  display:flex;
  height: 100vh;
}
                        /* CENTRAGE SECTION GOOGLE  */
section
{
  margin: auto;
}

#uname
{
  box-shadow: 0px 1px 1px 0px grey;
  width: 400px;
  height: 20px;
}
.boutonrecherche, .img
{
  border: solid blue 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.bouton
{
  margin: 15px;
  padding: 10px;
}

                      /* FIN CENTRAGE SECTION GOOGLE  */

                      /************ HEADER ************/
nav
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  align-content: center;


}

.conteneur
{
  display: flex;
  justify-content: space-around;
}
.element
{
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  align-self: center;
}
                      /************ HEADER ************/


                      /* FOOTER */

footer {
   width: 100%;
   display: flex;
   position: absolute;
   bottom: 0;
   background-color: #F2F2F2;
   height: 30px;


}


.footer_g{
   display: flex;
   justify-content: flex-start;
   width: 50%;
   list-style:none;
}


.footer_d{
   display: flex;
   justify-content: flex-end;
   width: 50%;
   list-style:none;
}

.item {
   width: 160px;
}
